.header{
    background: #222;
    height: 40px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}



.header__nav-list{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header__nav-item{
    height: 40px;
    padding:0 20px;
    line-height: 40px;
    position: relative;
}

.header__nav-item-left{
    padding: 0 12px;
}

.header__nav-item-left:first-child{
    padding-left: 0;
}

.header__nav-item-border{
    border-left: 1px rgba(136, 136, 136, 0.2) solid;
}

.header__nav-item-border:last-child{
    border-right: 1px rgba(136, 136, 136, 0.2) solid;
}
.header__nav-item-link{
    text-decoration: none;
    color: #888;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: baseline;
}

.header__nav-item-link-right{
    text-decoration: none;
    color: #888;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: baseline;
}

.header__nav-boat_anchor{
    height: 100%;
    border-right: 1px rgb(61, 61, 61) solid;
    border-left: 1px rgb(61, 61, 61) solid;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.header__nav-boat_anchor-icon{
    color: #888;
    font-size: 1.8rem;
    
}

.header__nav-icon-right{
    color: #888;
    font-size: 1.2rem;
    margin-right: 10px;
}

.header__nav-icon-down{
    color: #888;
    font-size: 1.4rem;
    margin-left: 6px;
}

.gach-ngang{
    height:12px;
    border-right: 1px rgba(136, 136, 136, 0.2) solid;
    display: flex;
    align-items: center;

}

.flag-list{
    display: flex;
    align-items: center;
}

.img-flagvietnamese{
    width: 16px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.header__nav-item-link-right:hover i,
.header__nav-item-link-right:hover {
    color: rgb(187, 98, 98);
    animation: fadeIn linear 0.4s;

}

.grid__wrap{
    padding: 40px 0 40px 0;
    

}



.preferred__heading-logo{
    font-size: 4rem;
}
.preferred__heading-logo__link{
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 900;
    line-height: 4rem;
    letter-spacing: 3px;
}

.header__nav-country-list{
    background: white;
    list-style-type: none;
    padding: 0;
    position: absolute;
    z-index: 1;
    left: 4px;
    box-shadow: 0px 0px 2px rgb(206, 204, 204);
    display: none;
    animation: fadeIn0 ease-out 0.2s,
                dichuyen-header ease-out 0.2s;
    


}

.menu__navbar{
    position: relative;
}

.pc-slow-menu{
    height: 100%;
    width: 40px;
    display: none;
    align-items: center;

}

.pc-slow-menu-icon{
    font-size: 2.6rem;
    color: rgb(102, 102, 102);
}

.header__nav-item:hover .header__nav-country-list{
    display: block;
}

.header__nav-country-list::before{
    content: "";
    display: block;
    position: absolute;
    top: -24px;
    left: 20px;
    border: 13px solid;
    border-color: transparent transparent white transparent;

}

.header__nav-country-item{
    background: white;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(136, 136, 136);
    transition: background linear 0.2s;

}

.header__nav-country-item:hover{
    background: rgb(245, 245, 245);

}

.header__nav-currency-list{
    background: white;
    list-style-type: none;
    padding: 0;
    position: absolute;
    z-index: 1;
    left: 7px;
    box-shadow: 0px 0px 2px rgb(206, 204, 204);
    display: none;
    animation: fadeIn0 ease-out 0.2s,
                dichuyen-header ease-out 0.2s;
    


}

.header__nav-item:hover .header__nav-currency-list{
    display: block;
}

.header__nav-currency-list::before{
    content: "";
    display: block;
    position: absolute;
    top: -18px;
    left: 7px;
    border: 9px solid;
    border-color: transparent transparent white transparent;

}

.header__nav-currency-item{
    width: 80px;
    background: white;
    padding: 0 5px;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(136, 136, 136);
    transition: background linear 0.2s;

}

.header__nav-currency-item:hover{
    background: rgb(245, 245, 245);

}


.preffered__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(102, 102, 102);
    
}

.preffered__link:hover .preferred-wrap-icon{
    background: rgb(227,68,68);
    color: white;
}

.preferred-wrap-icon{
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
    background: rgb(234, 234, 234);
    border-radius: 50%;
    transition: background linear 0.3s,
                color linear 0.3s;
}

.preferred-icon{
    line-height: 40px;
    font-size: 1.3rem;
}

.preferred__info-heading{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2rem;
    padding: 0;
    margin: 0 0 4px 0;

}

.preferred__info-mes{
    font-size: 1.2rem;
    color: rgb(102, 102, 102);
    line-height: 1.4rem;

}

.menu__navbar{
    display: flex;
    justify-content: space-between;
    /* border-bottom: 3px dotted gray;
    border-top: 3px dotted gray; */
    height: 56px;
    line-height: 56px;
}

.menu__navbar::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background: url(http://demo.snstheme.com/wp/simen/wp-content/themes/snssimen/assets/img/double-dotted.png);
    
}

.menu__navbar::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: url(http://demo.snstheme.com/wp/simen/wp-content/themes/snssimen/assets/img/double-dotted.png);
    
}


.menu__navbar-list{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    line-height: 56px;
   
}

.menu__navbar-item{
    padding-right:10px ;
    position: relative;
}

.menu__navbar-item__link{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    padding-right: 20px;
    color: rgb(51, 51, 51);
    transition: color linear 0.2s;
}

.menu__navbar-item:hover .menu__navbar-item__link{
    color: #e34444;
}

.menu__navbar-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(102, 102, 102)

}

.menu__navbar-search{
    padding: 0 20px;

}

.menu__navbar-search-icon{
    font-size: 1.6rem;
}

.gach-ngang2{
    height:20px;
    border-right: 1px rgb(201, 199, 199) solid;
    display: flex;
    align-items: center;
}

.meunu__navbar-cart{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding:0 0 0 20px;
    position: relative;
}

.car__quantity{
    color: #e34444;
    padding:0 4px 0 10px;

}

.menu__navbar-search__link,
.menu__navbar-cart__link{
    text-decoration: none;
    color: inherit;
    display: block;
}
/* menu con home page */
.menu__navbar-homepage-list{
    background: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 0;
    box-shadow: 0px 0px 2px rgb(206, 204, 204);
    animation: fadeIn0 ease-out 0.2s,
                dichuyen-nav ease-in 0.2s;
    padding: 16px;
    display: none;

}

.menu__navbar-item:hover .menu__navbar-homepage-list{
    display: block;
}

.menu__navbar-homepage-item{
    background: white;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(136, 136, 136);
    transition: background linear 0.2s;
    
}

.menu__navbar-homepage-item__link{
    display: block;
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 12px;
    width: 150px;
    line-height: 26px;
    transition: color linear 0.1s;
}

.menu__navbar-homepage-item__link:hover{
    color: #e34444;
}

.menu__navbar-homepage-list::before{
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 4px;
    border-style: solid;
    border-width: 7px;
    transform: rotate(-45deg);
    border-color: white white transparent transparent;
    box-shadow: 1px -1px 1px rgb(226, 223, 223);

}
/* furniture */
.wrap__furniture{
    position: absolute;
    display: flex;
    top: 50px;
    left: -54px;
    width: 1200px;
    z-index: 1;
    background: white;
    box-shadow: 0 0 1px rgb(167, 166, 166);
    padding: 15px ;
    display: none;
    animation: fadeIn0 linear 0.25s,
                dichuyen-nav ease-in-out 0.25s;
                
}

.menu__navbar-item:hover .wrap__furniture{
    display: flex;
}

.menu__navbar-item__heading{
    color: rgb(51, 51, 51);
    font-size: 13px;
    border-bottom: 1px solid rgb(214, 212, 212);
    margin: 0;
    padding: 0;
    line-height: 26px;
}

.menu__navbar-furniture-list{
    padding: 0;
    list-style-type: none;
    padding-top: 12px;
}

.menu__navbar-furniture-item{
    line-height: 2.2rem;

}

.menu__navbar-furniture__link{
    color: rgb(102, 102, 102);
    text-decoration: none;
    line-height: 2.2rem;
    transition: color linear 0.2s;
}

.menu__navbar-furniture__link:hover{
    color: #e34444;
}
.wrap__furniture::before{
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 74px;
    border-style: solid;
    border-width: 7px;
    transform: rotate(-45deg);
    border-color: white white transparent transparent;
    box-shadow: 1px -1px 1px rgb(226, 223, 223);

}

.furniture__img-link{
    display: block;
    width: 100%;
    margin-top: 20px;
}

.furniture__img{
    width: 100%;
    display: block;

}
.wrap__bedroom{
    position: absolute;
    display: flex;
    top: 50px;
    left: -355px;
    width: 1200px;
    z-index: 1;
    background: white;
    box-shadow: 0 0 1px rgb(167, 166, 166);
    display: none;
    animation: fadeIn0 linear 0.25s,
                dichuyen-nav ease-in-out 0.25s;
    padding: 30px 15px;
}

.menu__navbar-item:hover .wrap__bedroom{
    display: flex;
}

.bedroom__img-link{
    display: block;
    background: black;
    overflow: hidden;

}

.bedroom__img{
    display: block;
    width: 100%;
    background: white;
    opacity: 1;
    transform: scale(1);
    transition: opacity linear 0.25s,
                transform linear 0.25s;
    overflow: hidden;

}
.bedroom__img:hover{
    transform: scale(1.1);
    opacity: 0.6;
}

.bedroom__heading{
    font-size: 1.3rem;
    line-height: 1.3rem;


}

.bedroom__content{
    color :rgb(102, 102, 102);
    font-size: 1.2rem;
    line-height: 1.9rem;
    margin: 0;

}

.bedroom__heading__link{
    text-decoration: none;
    color: rgb(51, 51, 51);
    transition: color linear 0.2s;

}

.bedroom__heading__link:hover{
    color: #e34444;
}

.wrap__bedroom::before{
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 380px;
    border-style: solid;
    border-width: 7px;
    transform: rotate(-45deg);
    border-color: white white transparent transparent;
    box-shadow: 1px -1px 1px rgb(226, 223, 223);

}

.meunu__navbar-cart-notify{
    position: absolute;
    display: flex;
    top: 50px;
    right: 0;
    width: 200px;
    z-index: 2;
    background: white;
    box-shadow: 0 0 1px rgb(167, 166, 166);
    display: none;
    animation: fadeIn0 linear 0.25s,
                dichuyen-nav ease-in-out 0.25s;
    padding: 30px 15px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    
}

.meunu__navbar-cart:hover .meunu__navbar-cart-notify{
    display: flex;

}
.meunu__navbar-cart-notify::before{
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    right: 108px;
    border-style: solid;
    border-width: 7px;
    transform: rotate(-45deg);
    border-color: white white transparent transparent;
    box-shadow: 1px -1px 1px rgb(226, 223, 223);

}
.search-bar{
    display: none;
}
.menu__navbar-search__link:focus .search-bar{
    display: block;
}

/* mobile menu */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 16px;
}
.mobile-menu__nav-list{
    padding-top: 4px;
    z-index: 1;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(34,34,34);
    list-style: none;
    width: 240px;
    padding-right: 10px;
    transform: translateX(-100%);
    transition: transform ease-in-out 0.3s ;

}

.mobile-menu__nav-item{
    position: relative;
}

.mobile-menu__nav-link{
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 1.24rem;
    color: rgb(136, 136, 136);
    border-bottom: 1px solid rgb(63, 63, 63);

}

.mobile-sub__nav{
    display: none;

}

.mobile-menu__nav-item:hover .mobile-sub__nav{
    display: block;
}

.overflay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 2;
    animation: fadeIn0 linear 0.3s;
}
#mobile-menu_check:checked ~ .overflay{
    display: block;
}
#mobile-menu_check:checked ~ .mobile-menu__nav-list{
    transform: translateX(0);
}

#mobile-menu_check{
    display: none;
}
/* banner */

.banner{
    margin-top: 30px;
}

.banner__img-left{
    width: 100%;
}

.banner__wrap-top-right{
    position: relative;
    background: black;

}

.banner__img-top-right{
    position: relative;
    width: 100%;
    display: block;
    opacity: 1;
    transition: opacity ease-in 0.3s;

    

}
.banner__wrap-top-right:hover .banner__img-top-right{
    opacity: 0.5;
}

.banner__wrap-top-right::before{
    content: "";
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    border: white solid 1px;
    z-index: 1;
    background: transparent; 
    transition: transform linear 0.3s;
}

.banner__wrap-top-right:hover.banner__wrap-top-right::before{
    display: block;
}

.banner-right-bottom{
    margin-top: 25px;
    position: relative;
}

.banner__img-right-bottom1{
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;


}
.banner-wrap-right-bottom{
    position: relative;
    overflow: hidden;

}

.content__product-item{
    margin-top: 22px;
}

.product__navbar{
    margin-top: 30px;
}

.product__navbar-list{
    display: flex;
    list-style-type: none;
    padding: 0;
    position: relative;
}

.product__navbar-list::after{
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    height: 1px;
    width: 68%;
    background: rgb(234, 234, 234);
}
.product__navbar-item{
    padding: 0 20px;

}

.product__navbar-item:first-child{
    padding-left: 0;
}
.product__navbar-item_link{
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-size: 2rem;
    font-weight: 400;
}

.product__navbar-item_link:hover{
    text-decoration: underline black 3px;
}

.product-item-img{
    display: block;
    border: 1px solid rgb(199, 198, 198);
    width: 100%;
}

.product-item-img_link{
    position: relative;
    display: block;
    overflow: hidden;
}

.product-item-name_link{
    font-size: 13px;
    font-weight: 400;
    color: rgb(53, 52, 52);
    text-decoration: none;
    transition: color linear 0.2s;
}

.product-item-name_link:hover{
    color: #e34444;
}

.product-price-old{
    font-size: 1.2rem;
    line-height: 1.9rem;
    text-decoration: line-through;
    color:rgb(102, 102, 102);

}

.product-price-current{
    color: rgb(51, 51, 51);
    font-size: 1.6rem;
    font-weight: 700;
}

.product-ratting{
    line-height: 34px;
}

.product-ratting-icon{
    color: rgb(241, 210, 1);

}

.product-addtocart{
    position: absolute;
    background: rgb(31, 31, 31);
    width: 100%;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    height: 35px;
    line-height: 35px;
    bottom: 35px;
    transform: translateX(100%);
    transition: background ease-out 0.2s,
                transform ease-out 0.3s;



}

.product-addtocart:hover{
    background: #e34444;
}

.product-active{
    display: flex;
    position: absolute;
    bottom: 0px;
    background: white;
    height: 35px;
    width: 100%;
    justify-content: space-around;
    border: 1px solid rgb(194, 192, 192);
    transform: translateX(-100%);
    transition: transform ease-out 0.3s;
}

.product-active_link{
    border-left: 1px solid rgb(194, 192, 192);
    line-height: 35px;
    width: 33.33333%;
    color: rgb(51, 51, 51);
    transition: color ease-in 0.2s;

}

.product-active_link:hover{
    color: #e34444;
}

.product-active-icon{
    font-size: 1.3rem;
}

.wrap-product{
    text-align: center;
}
.wrap-product:hover .product-active,
.wrap-product:hover .product-addtocart{
    transform: translateX(0);
}

.product__load-more-item{
    text-align: center;
    margin: 40px 0;
}

.product__load-more-item_link{
    text-align: center;
    text-decoration: none;
    padding: 8px 84px;
    border: 1px solid rgb(187, 186, 186);
    font-size: 1.2rem;
    color: rgb(83, 83, 83);
    font-weight: 700;
    border-radius: 3px;
    background: white;
    transition: color ease-in-out 0.3s,
                background ease-in-out 0.3s;
}

.product__load-more-item_link:hover{
    color: white;
    background: #e34444;
}

.content__banner{
    background: rgb(240, 240, 240);
    padding: 30px 0;
    margin: 60px 0 55px 0;
    overflow: hidden;
}

.content__banner-img{
    width: 100%;
}

.content__banner-info{
    padding: 28px;
}

.content__banner-info_heading{
    font-size: 50px;
    color: rgb(51, 51, 51);
    line-height: 1.3;
    font-weight: 400;
    line-height: 65px;
    margin: 10px 0;
}

.content__banner-info_name{
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 1.3;
    font-weight: 500;
    line-height: 21px;
}

.content__banner-info_mes{
    font-size: 1.4rem;
    color: rgb(102, 102, 102);
    line-height: 1.3;
    font-weight: 500;
    line-height: 21px;
}

.content__banner-btn{
    background: rgb(51, 51, 51);
    padding: 7px 25px;
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    line-height: normal;
    outline: none;
    border: none;
    transition: background linear 0.2s;
}

.content__banner-btn:hover{
    background:rgb(227, 68, 68);
}

.suggest{
    margin-bottom: 30px;
    position: relative;
}

.suggest__heading{
    color:rgb(51, 51, 51);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 22px;
}

.mobile__suggest-list{
    position: absolute;
    top: 84px;
    left: -1px;
    padding:  0;
    margin: 0;
    background: #fff;
    box-shadow: 0px 2px 6px rgb(168, 168, 168);
    z-index: 1;
    border-radius: 3px;
    display: none;
}
.mobile__suggest-item{

}

.pc-slow-menu-suggest{
    display: none;
}

.pc-slow-menu-suggest:hover ~ .mobile__suggest-list{
    display: block;
}

.mobile__suggest-link{
    width: 180px;
    height: 40px;
    display: block;
    height: 2.4rem;
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    line-height: 2.4rem;
    padding: 0 16px;

}

.mobile__suggest-link:hover{
    color: white;
    background: rgb(71, 71, 223);
}

.suggest_list{
    padding: 0;
    display: flex;
    list-style-type: none;
    border: 1px solid rgb(199, 198, 198);
}

.suggest-item{
    position: relative;
    width: 100%;
    padding: 10px 0;
    border-left: 1px solid rgb(199, 198, 198);
    height: 120px;

}

.suggest-item_link{
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggest-item-img{
    text-align: center;
    width: 50%;
    display: block;
    
}

.suggest-item-name{
    display: block;
    width: 100%;
    text-decoration: none;
    position: absolute;
    font-size: 1.2rem;
    color: rgb(51, 51, 51);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: 10px 0;
}

.banner__discount{
    margin-top: 40px;
}

.banner__discount-wrap-img{
    overflow: hidden;

    position: relative;
}

.banner__discount-wrap-img::before{
    position: absolute;
    content: "";
    display: block;
    background: black;
    width: 50%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    transform: translateX(-101%);
    transition: transform ease-in-out 0.3s;

}

.banner__discount-wrap-img::after{
    position: absolute;
    content: "";
    display: block;
    right: 0;
    top: 0;
    background: black;
    width: 50%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    transform: translateX(101%);
    transition: transform ease-in-out 0.3s;

}

.banner__discount-wrap-img:hover.banner__discount-wrap-img::before,
.banner__discount-wrap-img:hover.banner__discount-wrap-img::after{
    transform: translateX(0);
}

.banner__discount-img{
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
    width: 100%;
}

.content__most-heading{
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin: 50px 0 30px 0;
}

.content__most-product{
    display: flex;
    margin-bottom: 20px;

}

.most-product-img{
    width: 50%;
    border: 1px solid rgb(221, 219, 219);
    transition: border linear 0.3s;
}

.most-product-img:hover{
    border: 1px solid #e34444;

}

.most-product-info{
    width: 50%;
    padding-left: 20px;
    margin-top: -16px;
}

.most__addtocart{
    font-size: 13px;
    color: rgb(136, 136, 136);
    margin: 15px 0;
    transition: color linear 0.3s;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.most__addtocart-icon{
    margin-right: 2px;
}

.most__addtocart:hover{
    color: #e34444;
}

.posts{
    margin-bottom: 30px;
}

.posts__heading{
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin: 40px 0 30px 0;
}

.posts-img_link{
    display: block;
    background: black;

}

.posts-img{
    opacity: 1;
    display: block;
    width: 100%;
    transition: opacity linear 0.3s;
}

.posts-img:hover{
    opacity: 0.6;
}

.posts__info{
    display: flex;
    padding: 10px 0;
}

.posts__info-calendar{
    padding: 8px;
    border: solid 1px rgb(202, 200, 200);
    display: inline-table;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.posts__info-calendar h2{
    margin: 4px;
    font-size: 24px;
    margin-bottom: 10px;
}

.posts__info-content{
    padding-left: 20px;
    color: rgb(51, 51, 51);
}

.poster{
    color: red;
}

.posts__info-heading{
    margin-top: 0px;
}

.posts__info-mes{
    font-size: 12px;
    line-height: 1.6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
}

.trademark-list{
    display: flex;
    padding: 0;
    list-style-type: none;
    padding: 30px 0;
    border-top:solid 1px rgb(209, 208, 208) ;
    overflow-x: scroll;
}

.trademark-list::-webkit-scrollbar{
    display: none;
}

.trademark-item_link{
    display: block;
}

.trademark-item_link:hover{
    background: rgb(235, 235, 235);
}


.tradmark-item-img{
    display: block;
}

.footer{
    background: rgb(248, 248, 248);
    padding: 40px 0 40px 0;
    border-bottom: 1px solid rgb(226, 226, 226);

}

.footer__content-heading{
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(51, 51, 51);
    padding-bottom: 16px;
}

.footer__content-list{
    padding: 0;
    list-style-type: none;
}

.footer__content-list-info{
    padding: 0;
    list-style-type: none;

}

.footer__content-item{
    display: block;
    line-height: 19px;
    display: flex;
    align-items: center;

}

.footer__content-list-item-info{
    height: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
}

.footer__content-list-item-info:hover .footer__content-item-icon{
    color: #e34444;
    border: 1px solid #e34444;
}

.footer__content-item-icon{
    border-radius:50% ;
    border:solid 1px rgb(230, 228, 228);
    text-align: center;
    line-height: 35px;
    height: 35px;
    background: white;
    font-size: 1.2rem;
    color: rgb(102, 102, 102);
    flex-basis:15% ;
}

.footer__content-item-info{
    line-height: 19px;
    font-size: 1.2rem;
    color: rgb(102, 102, 102);
    flex-basis:85% ;
    margin-left: 2px;

}

.footer__content-item:hover .footer__content-item-mes{
    color: #e34444;
    padding-left:7px ;
}

.footer__content-item-mes{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    color: rgb(102, 102, 102);
    transition: padding ease 0.1s;
}

.footer__content-contact__list{
    padding: 0;
    list-style-type: none;
}

.footer__content-contact__item{
    margin-bottom: 20px;
}

.footer__content-contact__mes{
    font-size: 1.2rem;
    color: rgb(102, 102, 102);
}

.footer__content-contact__input{
    padding: 6px 10px;
    font-size: 1.2rem;
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    line-height: 19.2px;
    color: rgb(102, 102, 102);
    outline: none;
}

.footer__content-contact__btn{
    padding: 7px 16px;
    background: rgb(34, 34, 34);
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    outline: none;
    line-height: 19px;
    transition: background ease 0.3s;
    cursor: pointer;
}

.footer__content-contact__btn:hover{
    background: #e34444;
}

.sns-footer_info{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(102, 102, 102);
    text-align: center;
    padding: 12px 0;
}

.btn__heading-web{
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    background: black;
    display: block;
    height: 60px;
    width: 60px;
    background: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(235, 235, 235);
    border: solid 1px rgb(235, 235, 235);
    transition: color linear 0.2s,
                background linear 0.2s;
}

.btn__heading-web:hover{
    color: white;
    background: #e34444;
    z-index: 2;
}

.close-door{
    position: relative;
    overflow: hidden;

}

.close-door::before{
    position: absolute;
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background: black;
    opacity: 0.4;
    z-index: 1;
    transform: translateX(-101%);
    transition: transform ease-in-out 0.3s;
}

.close-door::after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    display: block;
    width: 50%;
    height: 100%;
    background: black;
    opacity: 0.4;
    z-index: 1;
    transform: translateX(101%);
    transition: transform ease-in-out 0.3s;
}

.close-door:hover.close-door::before,
.close-door:hover.close-door::after{
    transform: translateX(0);
}

.scale{
    position: relative;
}

.scale::before{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(0);
    background: black;
    opacity: 0.4;
    z-index: 1;
    transition: transform ease-in-out 0.3s;
}

.scale:hover.scale::before{
    transform: scale(1);

}
